<extend name="Public:base" />

<block name="extJS">
    <script src="__PUBLIC__/js/trigger_event.js"></script>
    <script src="__PUBLIC__/js/select_ssq.js"></script>
	<script language="JavaScript" type="text/javascript">
    //<![CDATA[
		$(document).ready(function(){
            
        });
        
		function toSubmit(){
			$("form").submit();
		}
	//]]>
   </script>
</block>


<block name="content">
    <div class="show_content_b"><br>
		<p style="text-align:center"><strong>教堂计划添加</strong></p>
        <form action="{:U('Plan/save_new')}" id="form1" name="form1" method="post">
          <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                  <td height="50" align="right">地区：</td>
                  <td>&nbsp;</td>
                  <td><select id="lev1" onchange="getlocationchildren(this,'#lev2')">
                    <option value="">请选择</option>
                      <foreach name="locations" item="l" >
                        <option value="{$l.code}">{$l.name}</option>
                      </foreach>
                    </select>
                    
                    <select id="lev2" onchange="getlocationchildren(this,'#lev3')">
                    </select>
                    <select id="lev3" onchange="getlocationchildren(this,'#lev4','#school_id')">
                    </select>
                    <select id="school_id" name="school_id" onchange="get_class_by_school(this,'#class_id')">
                    </select>
                    <select id="class_id" name="class_id">
                </select></td>
                  <td>&nbsp;</td>
            </tr>
                <tr>
                  <td width="100" height="50" align="right">教学计划名称：</td>
                   <td width="10">&nbsp;</td>
                   <td><input type="text" name="name" id="name"/></td>
                   <td>&nbsp;</td>
                </tr>
                
                <tr>
                  <td height="50" align="right">教学计划描述：</td>
                  <td>&nbsp;</td>
                  <td><textarea name="desc"></textarea></td>
                  <td>&nbsp;</td>
                </tr>
                <for start="1" end="10">
	                <tr>
	                  <td height="50" align="right">{$i}年级的课程：</td>
	                  <td>&nbsp;</td>
	                  <td>
	                      <select name="course_{$i}[]">
	                          <option value=""></option>
	                          <foreach name="courses" item="c" >    
	                              <option value="{$c.id}">{$c.name}</option>
	                          </foreach>
	                      </select>
	                  </td>
	                  <td>&nbsp;</td>
	                </tr>
				</for>
				<tr>
					<td><input type="button" onclick="toSubmit()" value="提交"/></td>
				</tr>
          </table>      
      </form>
    </div>
</block>