<extend name="Public:base" />

<block name="extJS">
    <script src="/Public/js/trigger_event.js"></script>
    <script src="/Public/js/select_ssq.js"></script>
	<script language="JavaScript" type="text/javascript">
    //<![CDATA[
		$(document).ready(function(){
        
        });
        
        var opts = Array();
        opts.push('<option value=""></option>');
        <foreach name="courses" item="c" >    
          opts.push('<option value="{$c.id}">{$c.name}</option>');
        </foreach>
        
        
        function addcr(i){
        	var html = '<tr><td><select name="course_'+i+'[]">'+opts+'</select></td><td><input type="button" value="删除" onclick="delcr(this)"/></td></tr>';
        	$("#table_" + i).append(html);
        }
        
        function delcr(obj){
        	var t = $(obj)
        	$(t.parents("tr")[0]).remove();
        }
        
		function toSubmit(){
			$("form").submit();
		}
	//]]>
   </script>
</block>


<block name="content">
    <div class="show_content_b"><br>
		<p style="text-align:center"><strong>教堂计划添加</strong></p>
        <form action="{:U('Plan/save_edit')}" id="form1" name="form1" method="post">
            <input type="hidden" name="id" value="{$p['id']}"/>
          <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">

                <tr>
                  <td width="100" height="50" align="right">教学计划名称：</td>
                   <td width="10">&nbsp;</td>
                   <td><input type="text" name="name" id="name" value="{$p['name']}"/></td>
                   <td>&nbsp;</td>
                </tr>
                
                <tr>
                  <td height="50" align="right">教学计划描述：</td>
                  <td>&nbsp;</td>
                  <td><textarea name="desc">{$p['desc']}</textarea></td>
                  <td>&nbsp;</td>
                </tr>
                <for start="1" end="10">
	                <tr>
	                  <td height="50" align="right" valign="top">{$i}年级的课程：</td>
	                  <td>&nbsp;</td>
	                  <td valign="top">
	                      <table id="table_{$i}">
	                       <in name="i" value="$grades">                      
	                            <foreach name="plancourses[$i]" item="pc" >
    	                           <tr>
    	                               <td>
    	                                   <select name="oldcourse_{$pc['id']}" class="required">
                                              <option value=""></option>
                                              <foreach name="courses" item="c" > 
                                                     <if condition="$c['id'] eq $pc['course_id']">
                                                          <option value="{$c.id}" selected="selected">{$c.name}</option>
                                                     <else/>
                                                          <option value="{$c.id}">{$c.name}</option>
                                                     </if>
                                              </foreach>
                                          </select>
                                          <td><input type="checkbox" name="delcourse_{$pc['id']}" value="YES" />删除</td>
    	                               </td>
    	                           </tr>
	                           </foreach>
	                        </in>
	                      	<tr>
	                      		<td>
			                      <select name="course_{$i}[]">
			                          <option value=""></option>
			                          <foreach name="courses" item="c" >    
			                              <option value="{$c.id}">{$c.name}</option>
			                          </foreach>
			                      </select>
	                      		</td>
	                      	    <td>
	                      	    	<input type="button" value="增加" onclick="addcr({$i})"/>
	                      	    </td>
	                      	</tr>
	                      	
	                      </table>
	                  </td>
	                  <td>&nbsp;</td>
	                </tr>
				</for>
				<tr>
					<td><input type="button" onclick="toSubmit()" value="提交"/></td>
				</tr>
          </table>      
      </form>
    </div>
</block>