<extend name="Public:base" />
<block name="extCSS">
    <link href="/Public/css/style.css" rel="stylesheet" type="text/css">
</block>
<block name="extJS">
	<script src="../../../../Public/js/trigger_event.js"></script>
    <script src="/Public/js/select_ssq.js"></script>
    <script language="JavaScript" type="text/javascript">
    //<![CDATA[
        function toEdit(){
            var cs = $("input[name='id[]']:checked");
            if(cs.length != 1){
                alert("请只选择一条记录进行修改！");
            }else{
                window.location.href = "{:U('Plan/edit')}" + '?id=' + cs.val(); 
            }
        }
        
        function toView(){
            var cs = $("input[name='id[]']:checked");
            if(cs.length != 1){
                alert("请只选择一条记录进行查看！");
            }else{
                window.location.href = "{:U('Plan/view')}" + '?id=' + cs.val(); 
            }
        }       
                        
    //]]>
   </script>
</block>

<block name="btnbar">
    <div class="edit_menu_b">
      <ul>
          <if condition="has_all_rules('plan_add')">
            <li><a href="{:U('Plan/add')}"><img src="__PUBLIC__/images/master_26.jpg" width="68" height="28" alt=""/></a></li>
          </if>
          <if condition="has_all_rules('plan_edit')">
            <li><a href="#" onclick="toEdit()"><img src="__PUBLIC__/images/master_28.jpg" width="68" height="28" alt=""/></a></li>
          <else />
            <li><a href="#" onclick="toView()"><img src="__PUBLIC__/images/master_36.jpg" width="68" height="28" alt=""/></a></li>
          </if>
          <if condition="has_all_rules('plan_del')">
            <li><a href="#"><img src="__PUBLIC__/images/master_30.jpg" width="68" height="28" alt=""/></a></li>
          </if>
        </ul>
    </div>
    <div style="clear:both"></div>
</block>

    
<block name="content">
    <div class="show_content_b">
    <br>
	<p style="text-align:center"><strong>教学计划列表</strong></p>
    <form action="" id="form1" name="form1" method="post">
    <table width="98%" border="0" cellspacing="0" cellpadding="0" class="list_table">
        <thead>
            <tr>
                <td align="center" class="first_td"><strong>所在学校</strong></td>
                <td align="center"><strong>计划名称</strong></td>
                <td align="center"><strong>操作</strong></td>
            </tr>
        </thead>
        <foreach name="plans" item="p" >
          <tr class="odd_tr">
                <td align="center" class="first_td">&nbsp;{$p['school_name']}</td>
                <td align="center">{$p.name}&nbsp;</td>
                <td align="center"><input type="checkbox" name="id[]" id="checkbox" value="{$p.id}">&nbsp;</td>
            </tr>
         </foreach>
    </table>
    </form>
    </div>
    
</block>