<extend name="Public:base" />
<block name="extCSS">
    <link href="/Public/css/style.css" rel="stylesheet" type="text/css">
</block>
<block name="extJS">    
	<script src="/Public/js/select_ssq.js"></script>
    <script language="JavaScript" type="text/javascript">
    //<![CDATA[
        function toEdit(){
            var cs = $("input[name='id[]']:checked");
            if(cs.length != 1){
                alert("请只选择一条记录进行修改！");
            }else{
                window.location.href = "{:U('Plan/edit')}" + '?id=' + cs.val(); 
            }
        }
        
        function toView(){
            var cs = $("input[name='id[]']:checked");
            if(cs.length != 1){
                alert("请只选择一条记录进行查看！");
            }else{
                window.location.href = "{:U('Plan/view')}" + '?id=' + cs.val(); 
            }
        }       
         
         
        function toDel(){
        	var cs = $("input[name='id[]']:checked");
            if(cs.length != 1){
                alert("请只选择一条记录进行删除！");
            }else{
            	if(confirm("你确定要删除选中的教学计划吗？些操作不可逆！")){
	                window.location.href = "{:U('Plan/del')}" + '?id=' + cs.val(); 
            	}
            }
        }        
		
		function toSearch(){
        	$("form[name='search']").submit();
        }       
    //]]>
   </script>
</block>

<block name="btnbar">
    <div class="edit_menu_b">
      <ul>
          <if condition="has_all_rules('plan_add')">
            <li><a href="{:U('Plan/add')}"><img src="/Public/images/master_26.jpg" width="68" height="28" alt=""/></a></li>
          </if>
          <if condition="has_all_rules('plan_edit')">
            <li><a href="#" onclick="toEdit()"><img src="/Public/images/master_28.jpg" width="68" height="28" alt=""/></a></li>
          <else />
            <li><a href="#" onclick="toView()"><img src="/Public/images/master_36.jpg" width="68" height="28" alt=""/></a></li>
          </if>
          <if condition="has_all_rules('plan_del')">
            <li><a href="#" onclick="toDel()"><img src="/Public/images/master_30.jpg" width="68" height="28" alt=""/></a></li>
          </if>
        </ul>
    </div>
    <div style="clear:both"></div>
</block>
<block name="searchbar">
<div class="search_bar_b">
<form action="{:U('Plan/index')}" id="search" name="search" method="get">
    <label>&nbsp;&nbsp;搜索&nbsp;&nbsp;</label>
<select id="lev1" name="location_code_sheng" onchange="getlocationchildren(this,'#lev2')">
  <option value="">请选择</option>
  <foreach name="locations" item="l" >
    <option value="{$l.code}">{$l.name}</option>
  </foreach>
</select>
<select id="lev2" name="location_code_shi" onchange="getlocationchildren(this,'#lev3')">
</select>
<select id="lev3" name="location_code_qu" onchange="getlocationchildren(this,'','#school_id')">
</select>
<span class="send_btn" onClick="toSearch();">搜索</span>
</form>
</div>
</block>
<block name="content">
    <div class="show_content_b">
    <br>
	<p style="text-align:center"><strong>教学计划列表</strong></p>
    <form action="" id="form1" name="form1" method="post">
    <table width="98%" border="0" cellspacing="0" cellpadding="0" class="list_table">
        <thead>
            <tr>
                <td align="center" class="first_td"><strong>所在学校</strong></td>
                <td align="center"><strong>计划名称</strong></td>
                <td align="center"><strong>操作</strong></td>
            </tr>
        </thead>
        <foreach name="plans" item="p" >
          <tr class="odd_tr">
                <td align="center" class="first_td">&nbsp;{$p['school_name']}</td>
                <td align="center">{$p.name}&nbsp;</td>
                <td align="center"><input type="checkbox" name="id[]" id="checkbox" value="{$p.id}">&nbsp;</td>
            </tr>
         </foreach>
    </table>
    </form>
    </div>
    
</block>