<extend name="Public:base" />
<block name="extCSS">
    <link href="/Public/css/style.css" rel="stylesheet" type="text/css">
</block>


<block name="extJS">
	<script language="JavaScript" type="text/javascript">
    //<![CDATA[
		$(document).ready(function(){

        });
		
		function getValue(){
			var params = {
                'user_key' : "{$_SESSION.user_key}",
                'user_id'  : "{$_SESSION.user_id}",
                'course_id' : "{$id}"
            } ;
			swf_player_param(params);
		}
		

        function swf_player_param(value) {
          if(navigator.appName.indexOf("Microsoft") != -1)
          {
            //判断是否ie浏览器，是就
            $('#FlashID1').sendToActionScript(value);
          }
          else
          {
            //不是就
            $('#FlashID2').sendToActionScript(value);
          }
          
        }


	//]]>
   </script>
</block>


<block name="content">
    <div class="show_content_b" style=" width:950px; height:560px;">
		<div id="bfq">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="950" height="560" id="FlashID1">
        <param name="movie" value="/Public/swf/swfPlayer.swf">
        <param name="allowFullScreen" value="true">
        <param name="FlashVars" value="" />
        <param name="quality" value="high">
        <param name="wmode" value="transparent">
        <param name="swfversion" value="6.0.65.0">
        <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
        <param name="expressinstall" value="../../../../Scripts/expressInstall.swf">
        <!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="/Public/swf/swfPlayer.swf" width="950" height="560" id="FlashID2">
          <!--<![endif]-->
          <param name="allowFullScreen" value="true">
       	 <param name="FlashVars" value="" />
          <param name="quality" value="high">
          <param name="wmode" value="transparent">
          <param name="swfversion" value="6.0.65.0">
          <param name="expressinstall" value="__APP__/Scripts/expressInstall.swf">
          <!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
          <div>
            <h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
            <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="112" height="33" /></a></p>
          </div>
          <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object>
    </div>

           
    </div>


    
    


</block>