<extend name="Public:base" />
<block name="extCSS">
    <link href="/Public/css/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css">
    <link href="/Public/css/style.css" rel="stylesheet" type="text/css">
</block>

<block name="extJS">
    <script src="/Public/js/jquery-ui-1.10.4.custom.min.js"></script>
	<script language="JavaScript" type="text/javascript">
    //<![CDATA[
		$(document).ready(function(){
       /*
            $("#bfq").dialog({
                modal: true,
                autoOpen: false,
                width: 850,
                height: 600 ,
                buttons: {
                    "关闭" : function() { $( this ).dialog( "close" ); }
                }
            });
*/
        });
        
        function toView(id){
            var params = {
                'user_key' : "{$_SESSION.user_key}",
                'user_id'  : "{$_SESSION.user_id}",
                'course_id' : id
            } 
            $("#bfq").dialog("open");
			window.setTimeout(function(){
				swf_player_param('aaa');
		    },1000);
			
        }

        function swf_player_param(value) {
          if(navigator.appName.indexOf("Microsoft") != -1)
          {
            //判断是否ie浏览器，是就
            $('#FlashID1').sendToActionScript(value);
          }
          else
          {
            //不是就
            $('#FlashID2').sendToActionScript(value);
          }
          
        }


	//]]>
   </script>
</block>


<block name="content">
    <div class="show_content_b"><br>
	  <p style="text-align:center"><strong>教堂计划详情</strong></p>

      <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td width="100" align="right">&nbsp;</td>
              <td height="50" align="left">地区 ： {$p['location']}</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td align="right">&nbsp;</td>
              <td height="50" align="left">教学计划名称 ：{$p['name']}</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td align="right">&nbsp;</td>
              <td height="50" align="left">教学计划描述 ：{$p['desc']}</td>
              <td>&nbsp;</td>
            </tr>
          </table>
          <!-- <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
              <foreach name="pcs" item="pc" key="grade">
                <tr>
                  <td width="100" align="right">&nbsp;</td>
                    <td width="100" height="50" align="left" valign="top">{$grade}年级课程</td>
                    <td valign="top">
                        <ul>
                          <foreach name="pc" item="c" key="cid">
                                                           
                              <li><a href="{:U('Plan/openflash')}?id={$cid}" target="_blank">{$c['name']}</a><br />包含以下课件：
                                  <ul>
                                      <foreach name="c['courseware']" item="crw">
                                          <li>{$crw['courseware_name']}</li>
                                      </foreach>
                                  </ul>
                              </li>
                          </foreach>
                        </ul>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                </foreach>
          </table>  -->
          
          
          
          <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
              <foreach name="user_clzs" item="uclzs" key="grade">
                <tr>
                  <td width="100" align="right">&nbsp;</td>
                    <td width="100" height="50" align="left" valign="top">{$grade}年级课程</td>
                    <td valign="top">
                        <table>
                            <tr>
                                <foreach name="uclzs" item="uclz">
                                    <td>{$uclz['name']}</td>
                                </foreach>
                            </tr>
                            <foreach name="pcs[$grade]" item="c" key="cid">
                                <tr>
                                    <foreach name="uclzs" item="uclz">
                                        <td>
                                            <a href="{:U('Plan/openflash')}?id={$cid}&cid={$uclz['id']}" target="_blank">{$c['name']}</a><br />包含以下课件：
                                            <ul>
                                                <?php
                                                    foreach($c['courseware'] as $crw){
                                                        echo '<li>'.$crw['courseware_name'].'</li>';
                                                    }
                                                ?>
                                            </ul>
                                        </td>
                                    </foreach>
                                </tr>
                            </foreach>

                        </table>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                </foreach>
          </table> 
               
    </div>
</block>