<extend name="Public:base" />

<block name="extCSS">
    <link href="__PUBLIC__/css/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css">
</block>

<block name="extJS">
    <script src="__PUBLIC__/js/jquery-ui-1.10.4.custom.min.js"></script>
	<script language="JavaScript" type="text/javascript">
    //<![CDATA[
		$(document).ready(function(){
       /*
            $("#bfq").dialog({
                modal: true,
                autoOpen: false,
                width: 850,
                height: 600 ,
                buttons: {
                    "关闭" : function() { $( this ).dialog( "close" ); }
                }
            });
*/
        });
        
        function toView(id){
            var params = {
                'user_key' : "{$_SESSION.user_key}",
                'user_id'  : "{$_SESSION.user_id}",
                'course_id' : id
            } 
            $("#bfq").dialog("open");
			window.setTimeout(function(){
				swf_player_param('aaa');
		    },1000);
			
        }

        function swf_player_param(value) {
          if(navigator.appName.indexOf("Microsoft") != -1)
          {
            //判断是否ie浏览器，是就
            $('#FlashID1')[0].sendToActionScript(value);
          }
          else
          {
            //不是就
            $('#FlashID2')[0].sendToActionScript(value);
          }
          
        }


	//]]>
   </script>
</block>


<block name="content">
    <div class="show_content_b"><br>
		<p style="text-align:center"><strong>教堂计划详情</strong></p>

          <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                  <td height="50" align="right">地区：</td>
                  <td>&nbsp;</td>
                  <td>{$p['location']}</td>
                  <td>&nbsp;</td>
            </tr>
                <tr>
                  <td width="100" height="50" align="right">教学计划名称：</td>
                   <td width="10">&nbsp;</td>
                   <td>{$p['name']}</td>
                   <td>&nbsp;</td>
                </tr>
                
                <tr>
                  <td height="50" align="right">教学计划描述：</td>
                  <td>&nbsp;</td>
                  <td>{$p['desc']}</td>
                  <td>&nbsp;</td>
                </tr>
                <foreach name="pcs" item="pc" key="grade">
                  <tr>
                      <td width="100" height="50" align="right">{$grade}年级课程</td>
                      <td>&nbsp;</td>
                      <td>
                          <ul>
                            <foreach name="pc" item="c">
                                <!-- <li><a href="#" onclick="toView({$c['cid']})">{$c['name']}</a></li> -->
                                
                                
                                <li><a href="{:U('Plan/openflash')}?id={$c['cid']}" target="_blank">{$c['name']}</a></li>
                            </foreach>
                          </ul>
                      </td>
                      <td>&nbsp;</td>
                  </tr>
                </foreach>
          </table>      
    </div>


    <div id="bfq">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="950" height="540" id="FlashID1">
        <param name="movie" value="__PUBLIC__/swf/swfPlayer.swf">
        <param name="FlashVars" value="" />
        <param name="quality" value="high">
        <param name="wmode" value="transparent">
        <param name="swfversion" value="6.0.65.0">
        <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
        <param name="expressinstall" value="../../../../Scripts/expressInstall.swf">
        <!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="__PUBLIC__/swf/swfPlayer.swf" width="950" height="540" id="FlashID2">
          <!--<![endif]-->
          <param name="quality" value="high">
          <param name="wmode" value="transparent">
          <param name="swfversion" value="6.0.65.0">
          <param name="expressinstall" value="__APP__/Scripts/expressInstall.swf">
          <!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
          <div>
            <h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
            <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="112" height="33" /></a></p>
          </div>
          <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object>
    </div>
    


</block>