<extend name="Public:base" />
<block name="extCSS">
    <link href="../../../../Public/css/style.css" rel="stylesheet" type="text/css">
</block>
<block name="extJS">
    <script src="../../../../Public/js/trigger_event.js"></script>
    <script src="../../../../Public/js/select_ssq.js"></script>
</block>

<block name="btnbar">
<div class="edit_menu_b">
  <ul>
      <if condition="has_all_rules('class_add')">
    	<li><a href="{:U('master/class_add')}"><img src="../../../../Public/images/master_26.jpg" width="68" height="28" alt=""/></a></li>
      </if>
      <if condition="has_all_rules('class_edit')">
        <li><a href="#" id="class_list_edit"><img src="../../../../Public/images/master_28.jpg" width="68" height="28" alt=""/></a></li>
      </if>
      <if condition="has_all_rules('class_del')">
        <li><a href="#" id="class_list_delete"><img src="../../../../Public/images/master_30.jpg" width="68" height="28" alt=""/></a></li>
      </if>
      <if condition="has_all_rules('class_add')">      
        <li><img src="../../../../Public/images/master_34.jpg" width="68" height="28" alt=""/></li>
      </if>
        <li><img src="../../../../Public/images/master_32.jpg" width="68" height="28" alt=""/></li>
    </ul>
</div>
<div style="clear:both"></div>
</block>
<block name="searchbar">
<div class="search_bar_b">
<label>&nbsp;&nbsp;搜索&nbsp;&nbsp;</label>
    <select id="select_province"><option value="预设值">请选择</option></select>
    <select id="select_city"><option value="预设值">请选择</option></select>
    <select id="select_area"><option value="预设值">请选择</option></select>
</div>
</block>
<block name="content">
<div class="show_content_b">
<br>
<p style="text-align:center"><strong>班级列表</strong></p>
<form action="" id="form1" name="form1" method="post">
<table width="98%" border="0" cellspacing="0" cellpadding="0" class="list_table">
    <thead>
        <tr>
            <td align="center" class="first_td"><strong>班级名</strong></td>
            <td align="center"><strong>所在学校</strong></td>
            <td align="center">年级</td>
            <td align="center">操作人</td>
            <td align="center"><strong>更新时间</strong></td>
            <td align="center">&nbsp;</td>
        </tr>
    </thead>
    <foreach name="master_class" item="v" >
      <tr class="odd_tr">
            <td align="center" class="first_td">{$v.name}&nbsp;</td>
            <td align="center">{$v.school_id|xuexiao}&nbsp;</td>	
         	<td align="center">{$v.grade}&nbsp;</td>
         	<td align="center">{$v.update_by_id|show_edit_user}&nbsp;</td>
            <td align="center">{$v.update_time}&nbsp;</td>
            <td align="center"><input type="checkbox" name="checkbox[]" id="checkbox" value="{$v.id}">&nbsp;</td>
        </tr>
     </foreach>
</table>
</form>
{$page}
<br>
  <br>
</div>
</block>