<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>安贝尔儿童安全乐园教学管理平台</title>
<link href="../../../../Public/css/style.css" rel="stylesheet" type="text/css">
</head>
<script src="../../../../Public/js/jquery-1.11.1.min.js"></script>
<script src="../../../../Public/js/trigger_event.js"></script>
<script src="../../../../Public/js/select_ssq.js"></script>
<script language="JavaScript" type="text/javascript">
//<![CDATA[ 
var ssq_handle_URL= "{:U('master/ssq_handle')}";
var request_school_URL= "{:U('master/request_school')}";
//]]>
</script>
<body>
<div class="top_logo_b">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="685"><img src="../../../../Public/images/master_03.jpg" width="685" height="130" alt=""/></td>
      <td align="right" valign="bottom"><a href="{:U('Auth/logout')}">退出管理</a></td>
    </tr>
  </table>
</div>
<div class="main_menu_b">
	<ul>
    	<li><a href="{:U('index/index')}"><img src="../../../../Public/images/master_07.jpg" width="92" height="28" alt=""/></a></li>
        <li><a href="{:U('AccountManagement/index')}"><img src="../../../../Public/images/master_09.jpg" width="92" height="28" alt=""/></a></li>
        <li><img src="../../../../Public/images/master_11.jpg" width="92" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_13.jpg" width="92" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_15.jpg" width="92" height="28" alt=""/></li>
        <li><a href="{:U('master/index')}"><img src="../../../../Public/images/master_17.jpg" width="92" height="28" alt=""/></a></li>
    </ul>
</div>
<div style="clear:both"></div>
<div class="edit_menu_b" style="display:none">
  <ul>
    	<li><img src="../../../../Public/images/master_26.jpg" width="68" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_28.jpg" width="68" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_30.jpg" width="68" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_32.jpg" width="68" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_34.jpg" width="68" height="28" alt=""/></li>
    </ul>
</div>
<div style="clear:both"></div>
<div class="show_content_b"><br>
<p style="text-align:center"><strong>班级添加</strong></p>
<form action="{:U('master/class_add_handle')}" id="form1" name="form1" method="post" >
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
       <td width="130" height="50" align="right">省市区：</td>
       <td width="20">&nbsp;</td>
       <td>
       <select id="select_province"></select>
       <select id="select_city"></select>
       <select name="location" id="select_area"></select>
       </td>
    </tr>
    <tr>
      <td height="50" align="right">学校名：</td>
      <td>&nbsp;</td>
      <td>
    	<select name="school_name" id="select_school"></select></td>
    </tr>
    <tr>
      <td height="50" align="right">年级：</td>
      <td>&nbsp;</td>
      <td>
      <select name="grade" id="select_grade">
      	<option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
      </td>
    </tr>
    <tr>
      <td height="50" align="right">班级名：</td>
      <td>&nbsp;</td>
      <td><input name="class_name" type="text" id="textfield" size="50"> 
        *</td>
    </tr>
    <tr>
      <td height="50" align="right">描述：</td>
      <td>&nbsp;</td>
      <td><textarea name="description" cols="50" rows="7" id="textarea"></textarea></td>
    </tr>
    <tr>
       <td height="50" align="right">&nbsp;</td>
       <td>&nbsp;</td>
       <td>
           <span class="send_btn" id="class_send_btn">添加</span>
           <span class="send_btn" id="reset_btn">重置</span> 
       </td>
    </tr>
</table>
</form>

</div>
<div class="foot_company">&nbsp;<img src="../../../../Public/images/index_26.jpg" width="185" height="49" alt=""/></div>
</body>
</html>
