<extend name="Public:base" />
<block name="extCSS">
    <link href="../../../../Public/css/style.css" rel="stylesheet" type="text/css">
</block>
<block name="extJS">
    <script src="../../../../Public/js/trigger_event.js"></script>
    <script src="../../../../Public/js/select_ssq.js"></script>
</block>

<block name="content">
<div class="show_content_b"><br>
<p style="text-align:center"><strong>班级添加</strong></p>
<form action="{:U('master/class_add_handle')}" id="form1" name="form1" method="post" >
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
       <td width="130" height="50" align="right">省市区：</td>
       <td width="20">&nbsp;</td>
       <td>
       <select id="select_province"></select>
       <select id="select_city"></select>
       <select name="location" id="select_area"></select>
       </td>
    </tr>
    <tr>
      <td height="50" align="right">学校名：</td>
      <td>&nbsp;</td>
      <td>
    	<select name="school_name" id="select_school"></select></td>
    </tr>
    <tr>
      <td height="50" align="right">年级：</td>
      <td>&nbsp;</td>
      <td>
      <select name="grade" id="select_grade">
      	<option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
      </td>
    </tr>
    <tr>
      <td height="50" align="right">班级名：</td>
      <td>&nbsp;</td>
      <td><input name="class_name" type="text" id="textfield" size="50"> 
        *</td>
    </tr>
    <tr>
      <td height="50" align="right">描述：</td>
      <td>&nbsp;</td>
      <td><textarea name="description" cols="50" rows="7" id="textarea"></textarea></td>
    </tr>
    <tr>
       <td height="50" align="right">&nbsp;</td>
       <td>&nbsp;</td>
       <td>
           <span class="send_btn" id="class_send_btn">添加</span>
           <span class="send_btn" id="reset_btn">重置</span> 
       </td>
    </tr>
</table>
</form>

</div>
</block>
