<extend name="Public:base" />
<block name="extCSS">
    <link href="/Public/css/style.css" rel="stylesheet" type="text/css">
    
    <link type="text/css" href="/Public/css/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
	<link type="text/css" href="/Public/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
</block>
<block name="extJS">
	
    <script type="text/javascript" src="/Public/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/Public/js/jquery-ui-1.10.4.custom.min.js"></script>
	<script type="text/javascript" src="/Public/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/Public/js/jquery-ui-timepicker-zh-CN.js"></script>
    <script type="text/javascript">
    $(function () {
		
        $("#ui_timepicker").datetimepicker({
            //showOn: "button",
            //buttonImage: "./css/images/icon_calendar.gif",
            //buttonImageOnly: true,
            showSecond: true,
            timeFormat: 'hh:mm:ss',
            stepHour: 1,
            stepMinute: 1,
            stepSecond: 1
        })
    })
    </script>
    
    
    <script charset="utf-8" src="/Public/kindeditor-4.1.10/kindeditor.js"></script>
	<script charset="utf-8" src="/Public/kindeditor-4.1.10/lang/zh_CN.js"></script>
	<script charset="utf-8" src="/Public/kindeditor-4.1.10/plugins/code/prettify.js"></script>
	<script>
		KindEditor.ready(function(K) {
			var editor1 = K.create('textarea[name="content1"]', {
				filterMode : false,
				cssPath : '/Public/kindeditor-4.1.10/plugins/code/prettify.css',
				uploadJson : '/Public/kindeditor-4.1.10/php_edition/upload_json.php',
				fileManagerJson : '/Public/kindeditor-4.1.10/php_edition/file_manager_json.php',
				allowFileManager : true,
				afterCreate : function() {
					var self = this;
					K.ctrl(document, 13, function() {
						var title=$("input[name='news_title']");
						if(title.val()==''){
							alert('标题不能为空！');
							title.focus();
							return;
						}
						var content=$('.ke-edit-iframe').contents().find('body');
						if(content.html()=='<br>'){
							alert('内容不能为空！');
							content.focus();
							return;
						}
						self.sync();
						K('form[name=form1]')[0].submit();
					});
					
					K.ctrl(self.edit.doc, 13, function() {
						var title=$("input[name='news_title']");
						if(title.val()==''){
							alert('标题不能为空！');
							title.focus();
							return;
						}
						var content=$('.ke-edit-iframe').contents().find('body');
						if(content.html()=='<br>'){
							alert('内容不能为空！');
							content.focus();
							return;
						}
						self.sync();
						K('form[name=form1]')[0].submit();
					});
					
					$('#news_send_btn').click(function(){
						var title=$("input[name='news_title']");
						if(title.val()==''){
							alert('标题不能为空！');
							title.focus();
							return;
						}
						var content=$('.ke-edit-iframe').contents().find('body');
						if(content.html()=='<br>'){
							alert('内容不能为空！');
							content.focus();
							return;
						}
						self.sync();
						K('form[name=form1]')[0].submit();
					});
				}
			});
			
			prettyPrint();
		});
	</script>
</block>
<block name="pathline">
<div class="div_path_content">系统设置 -> <a href="{:U('news_list')}">新闻中心</a> -> 新闻修改</div>
</block>
<block name="content">
<div class="show_content_b"><br>
<p style="text-align:center"><strong>新闻修改</strong></p>
<form action="{:U('news_edit_handle')}" id="form1" name="form1" method="post" >
  <table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="130" height="50" align="right">类型：</td>
      <td width="20">&nbsp;</td>
      <td><select name="news_category" id="news_category">
      	<option value="{$web_news.category}">{$web_news.category}</option>
        <option value="安贝尔动态">安贝尔动态</option>
        <option value="新闻动态">新闻动态</option>
        <option value="政策动态">政策动态</option>
      </select></td>
    </tr>
    <tr>
      <td height="50" align="right">标题：</td>
      <td>&nbsp;</td>
      <td><input name="news_title" type="text" id="textfield" size="90" value="{$web_news.title}">
      <input type="hidden" name="id" value="{$web_news.id}"/>
        &nbsp;* </td>
    </tr>
    <tr>
      <td height="50" align="right">日期：</td>
      <td>&nbsp;</td>
      <td><input name="date_time" type="text" id="ui_timepicker" size="30" value="{$web_news.date_time}" readonly></td>
    </tr>
    <tr>
      <td height="50" align="right">内容：</td>
      <td>&nbsp;</td>
      <td><textarea name="content1" style="width:700px;height:500px;visibility:hidden;" id="neirong"><php>echo ($web_news['content']);</php>
  </textarea></td>
    </tr>
    <tr>
      <td height="50" align="right">&nbsp;</td>
      <td>&nbsp;</td>
      <td><span class="send_btn" id="news_send_btn">提交</span></td>
    </tr>
  </table>
</form>
</div>
</block>
