<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>安贝尔儿童安全乐园教学管理平台</title>
<link href="../../../../Public/css/style.css" rel="stylesheet" type="text/css">
</head>
<script src="../../../../Public/js/jquery-1.11.1.min.js"></script>
<script src="../../../../Public/js/trigger_event.js"></script>
<script src="../../../../Public/js/select_ssq.js"></script>
<script language="JavaScript" type="text/javascript">
//<![CDATA[ 
var school_handle_URL= "{:U('master/ssq_handle')}";
//]]>
</script>
<body>
<div class="top_logo_b">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="685"><img src="../../../../Public/images/master_03.jpg" width="685" height="130" alt=""/></td>
      <td align="right" valign="bottom"><a href="{:U('Auth/logout')}">退出管理</a></td>
    </tr>
  </table>
</div>
<div class="main_menu_b">
	<ul>
    	<li><a href="{:U('index/index')}"><img src="../../../../Public/images/master_07.jpg" width="92" height="28" alt=""/></a></li>
        <li><a href="{:U('accountmanagement/index')}"><img src="../../../../Public/images/master_09.jpg" width="92" height="28" alt=""/></a></li>
        <li><img src="../../../../Public/images/master_11.jpg" width="92" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_13.jpg" width="92" height="28" alt=""/></li>
        <li><a href="{:U('questionmanagement/index')}"><img src="../../../../Public/images/master_15.jpg" width="92" height="28" alt=""/></a></li>
        <li><a href="{:U('master/index')}"><img src="../../../../Public/images/master_17.jpg" width="92" height="28" alt=""/></a></li>
    </ul>
</div>
<div style="clear:both"></div>
<div class="edit_menu_b">
  <ul>
    	<li><a href="{:U('master/school_add')}"><img src="../../../../Public/images/master_26.jpg" width="68" height="28" alt=""/></a></li>
        <li><img src="../../../../Public/images/master_28.jpg" width="68" height="28" alt=""/></li>
        <li><a href="#" id="school_list_delete"><img src="../../../../Public/images/master_30.jpg" width="68" height="28" alt=""/></a></li>
        <li><img src="../../../../Public/images/master_32.jpg" width="68" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_34.jpg" width="68" height="28" alt=""/></li>
    </ul>
</div>
<div style="clear:both"></div>
<div class="search_bar_b">
<label>&nbsp;&nbsp;搜索&nbsp;&nbsp;</label>
    <select id="select_province"></select>
    <select id="select_city"></select>
    <select id="select_area"></select>
</div>
<div class="show_content_b">
<br>
<form action="{:U('master/school_list_delete_handle')}" id="form1" name="form1" method="post">
<table width="98%" border="0" cellspacing="0" cellpadding="0" class="list_table">
    <thead>
        <tr>
            <td align="center" class="first_td"><strong>学校名</strong></td>
            <td align="center"><strong>省份</strong></td>
            <td align="center"><strong>城市</strong></td>
            <td align="center"><strong>区</strong></td>
            <td align="center">&nbsp;</td>
        </tr>
    </thead>
    <foreach name="master_school" item="v" >
      <tr class="odd_tr">
            <td align="center" class="first_td">{$v.name}&nbsp;</td>
            <td align="center">{$v.location_id|sheng}&nbsp;</td>	
         	<td align="center">{$v.location_id|shi}&nbsp;</td>
            <td align="center">{$v.location_id|qu}&nbsp;</td>
            <td align="center"><input type="checkbox" name="checkbox[]" id="checkbox" value="{$v.id}">&nbsp;</td>
        </tr>
     </foreach>
</table>
</form>
<br>
  <br>
</div>
<div class="foot_company">&nbsp;<img src="../../../../Public/images/index_26.jpg" width="185" height="49" alt=""/></div>
</body>
</html>
