<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>安贝尔儿童安全乐园教学管理平台</title>
<link href="../../../../Public/css/style.css" rel="stylesheet" type="text/css">
</head>
<script src="../../../../Public/js/jquery-1.11.1.min.js"></script>
<script src="../../../../Public/js/trigger_event.js"></script>
<script src="../../../../Public/js/select_ssq.js"></script>
<script language="JavaScript" type="text/javascript">
//<![CDATA[ 
var ssq_handle_URL= "{:U('master/ssq_handle')}";
//]]>
</script>
<body>
<div class="top_logo_b">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="685"><img src="../../../../Public/images/master_03.jpg" width="685" height="130" alt=""/></td>
      <td align="right" valign="bottom"><a href="{:U('Auth/logout')}">退出管理</a></td>
    </tr>
  </table>
</div>
<div class="main_menu_b">
	<ul>
    	<li><a href="{:U('index/index')}"><img src="../../../../Public/images/master_07.jpg" width="92" height="28" alt=""/></a></li>
        <li><a href="{:U('accountmanagement/index')}"><img src="../../../../Public/images/master_09.jpg" width="92" height="28" alt=""/></a></li>
        <li><img src="../../../../Public/images/master_11.jpg" width="92" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_13.jpg" width="92" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_15.jpg" width="92" height="28" alt=""/></li>
        <li><a href="{:U('master/index')}"><img src="../../../../Public/images/master_17.jpg" width="92" height="28" alt=""/></a></li>
    </ul>
</div>
<div style="clear:both"></div>
<div class="edit_menu_b" style="display:none">
  <ul>
    	<li><img src="../../../../Public/images/master_26.jpg" width="68" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_28.jpg" width="68" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_30.jpg" width="68" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_32.jpg" width="68" height="28" alt=""/></li>
        <li><img src="../../../../Public/images/master_34.jpg" width="68" height="28" alt=""/></li>
    </ul>
</div>
<div style="clear:both"></div>
<div class="show_content_b"><br>
<p style="text-align:center"><strong>学校修改</strong></p>
<form action="{:U('master/school_edit_handle')}" id="form1" name="form1" method="post" >
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
       <td width="130" height="50" align="right">省市区：</td>
       <td width="20">&nbsp;</td>
       <td>
       <select id="select_province"><option value="">{$master_school[0].location_id|sheng}</option></select>
       <select id="select_city"><option value="">{$master_school[0].location_id|shi}</option></select>
       <select name="location" id="select_area"><option value="{$master_school[0].location_id}">{$master_school[0].location_id|qu}</option></select>
       </td>
    </tr>
    <tr>
      <td height="50" align="right">学校名：</td>
      <td>&nbsp;</td>
      <td>
        <input name="school_name" type="text" id="textfield" size="50" value="{$master_school[0].name}">&nbsp;*
        <input name="id" type="text" id="textfield2" size="50" value="{$master_school[0].id}" style="display:none">
        </td>
    </tr>
    <tr>
      <td height="50" align="right">描述：</td>
      <td>&nbsp;</td>
      <td><textarea name="description" cols="50" rows="7" id="textarea">{$master_school[0].desc}</textarea></td>
    </tr>
    <tr>
       <td height="50" align="right">&nbsp;</td>
       <td>&nbsp;</td>
       <td>
           <span class="send_btn" id="school_send_btn">提交</span>
       </td>
    </tr>
</table>
</form>
</div>
<div class="foot_company">&nbsp;<img src="../../../../Public/images/index_26.jpg" width="185" height="49" alt=""/></div>
</body>
</html>
