<extend name="Public:base" />
<block name="extCSS">
    <link href="/Public/css/style.css" rel="stylesheet" type="text/css">
    
    <link type="text/css" href="/Public/css/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
	<link type="text/css" href="/Public/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
</block>
<block name="extJS">
	
    <script type="text/javascript" src="/Public/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/Public/js/jquery-ui-1.10.4.custom.min.js"></script>
	<script type="text/javascript" src="/Public/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/Public/js/jquery-ui-timepicker-zh-CN.js"></script>
    <script type="text/javascript">
    $(function () {
		var now=new Date();
		var year=now.getFullYear();
		var month=now.getMonth();
		var day=now.getDate();
		var hours=now.getHours();
		var minutes=now.getMinutes();
		var seconds=now.getSeconds(); 
		var now=year+'-'+(month+1)+'-'+day+' '+hours+':'+minutes+':'+seconds;
		$("#ui_timepicker").val(now);
        $("#ui_timepicker").datetimepicker({
            //showOn: "button",
            //buttonImage: "./css/images/icon_calendar.gif",
            //buttonImageOnly: true,
            showSecond: true,
            timeFormat: 'hh:mm:ss',
            stepHour: 1,
            stepMinute: 1,
            stepSecond: 1
        })
    })
    </script>
    
    
    <script charset="utf-8" src="/Public/kindeditor-4.1.10/kindeditor.js"></script>
	<script charset="utf-8" src="/Public/kindeditor-4.1.10/lang/zh_CN.js"></script>
	<script charset="utf-8" src="/Public/kindeditor-4.1.10/plugins/code/prettify.js"></script>
	<script>
		KindEditor.ready(function(K) {
			var editor1 = K.create('textarea[name="content1"]', {
				filterMode : false,
				cssPath : '/Public/kindeditor-4.1.10/plugins/code/prettify.css',
				uploadJson : '/Public/kindeditor-4.1.10/php/upload_json.php',
				fileManagerJson : '/Public/kindeditor-4.1.10/php/file_manager_json.php',
				allowFileManager : true,
				afterCreate : function() {
					var self = this;
					K.ctrl(document, 13, function() {
						if($('#knowledge_category').val()==''){
							alert('请选择知识分类！');
							return;
						}
						
						if($('#grade_category').val()==''){
							alert('请选择年级分类！');
							return;
						}
						
						var title=$("input[name='resource_title']");
						if(title.val()==''){
							alert('标题不能为空！');
							title.focus();
							return;
						}
						var content=$('.ke-edit-iframe').contents().find('body');
						if(content.html()=='<br>'){
							alert('内容不能为空！');
							content.focus();
							return;
						}
						self.sync();
						K('form[name=form1]')[0].submit();
					});
					
					K.ctrl(self.edit.doc, 13, function() {
						if($('#knowledge_category').val()==''){
							alert('请选择知识分类！');
							return;
						}
						
						if($('#grade_category').val()==''){
							alert('请选择年级分类！');
							return;
						}
						
						var title=$("input[name='resource_title']");
						if(title.val()==''){
							alert('标题不能为空！');
							title.focus();
							return;
						}
						var content=$('.ke-edit-iframe').contents().find('body');
						if(content.html()=='<br>'){
							alert('内容不能为空！');
							content.focus();
							return;
						}
						self.sync();
						K('form[name=form1]')[0].submit();
					});
					
					$('#news_send_btn').click(function(){
						if($('#knowledge_category').val()==''){
							alert('请选择知识分类！');
							return;
						}
						
						if($('#grade_category').val()==''){
							alert('请选择年级分类！');
							return;
						}
						
						var title=$("input[name='resource_title']");
						if(title.val()==''){
							alert('标题不能为空！');
							title.focus();
							return;
						}
						var content=$('.ke-edit-iframe').contents().find('body');
						if(content.html()=='<br>'){
							alert('内容不能为空！');
							content.focus();
							return;
						}
						self.sync();
						K('form[name=form1]')[0].submit();
					});
				}
			});
			
			prettyPrint();
		});
	</script>
</block>
<block name="pathline">
<div class="div_path_content">系统设置 -> <a href="{:U('safe_resource_list')}">安全资源中心</a> ->安全资源修改</div>
</block>
<block name="content">
<div class="show_content_b"><br>
<p style="text-align:center"><strong>安全资源修改</strong></p>
<form action="{:U('safe_resource_edit_handle',I('get.'))}" method="post" name="form1" id="form1" enctype="multipart/form-data">
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="130" height="50" align="right">知识分类：</td>
      <td width="20">&nbsp;</td>
      <td>
        <select name="knowledge_category" id="knowledge_category">
        <option value="{$current_knowledge_category.id}">{$current_knowledge_category.name}</option>
        <foreach name="web_knowledge_category" item="v" >
          <option value="{$v.id}">{$v.name}</option>
          </foreach>
          </select></td>
    </tr>
    <tr>
      <td height="50" align="right">年级分类：</td>
      <td>&nbsp;</td>
      <td><select name="grade_category" id="grade_category">
        <option value="{$web_safe_resource.grade_category}">{$web_safe_resource.grade_category}</option>
        <option value="一年级">一年级</option>
        <option value="二年级">二年级</option>
        <option value="三年级">三年级</option>
        <option value="四年级">四年级</option>
        <option value="五年级">五年级</option>
        <option value="六年级">六年级</option>
        <option value="初一">初一</option>
        <option value="初二">初二</option>
        <option value="初三">初三</option>
        </select></td>
    </tr>
    <tr>
      <td height="50" align="right">配图：</td>
      <td>&nbsp;</td>
      <td><img src="{$web_safe_resource.img_path}" height="100" alt="" align="absbottom"/>
        <input type="file" name="pic" id="fileField">&nbsp;</td>
    </tr>
    <tr>
      <td height="50" align="right">标题：</td>
      <td>&nbsp;</td>
      <td>
        <input name="resource_title" type="text" id="textfield" size="90" value="{$web_safe_resource.title}">&nbsp;*
        <input type="hidden" name="id" value="{$web_safe_resource.id}"/>
        </td>
    </tr>
    <tr>
      <td height="50" align="right">日期：</td>
      <td>&nbsp;</td>
      <td><input name="date_time" type="text" id="ui_timepicker" size="30" value="{$web_safe_resource.date_time}" readonly></td>
    </tr>
    <tr>
      <td height="50" align="right">内容：</td>
      <td>&nbsp;</td>
      <td><textarea name="content1" style="width:700px;height:500px;visibility:hidden;" id="neirong">{$web_safe_resource.content}</textarea></td>
    </tr>
    <tr>
       <td height="50" align="right">&nbsp;</td>
       <td>&nbsp;</td>
       <td>
           <span class="send_btn" id="news_send_btn">提交</span>
           <span class="send_btn" id="reset_btn">重置</span> 
       </td>
    </tr>
</table>
</form>

</div>
</block>