<extend name="Public:base" />
<block name="extCSS">
    <link href="/Public/css/style.css" rel="stylesheet" type="text/css">
</block>
<block name="extJS">
<script type="text/javascript" language="JavaScript">
    //<![CDATA[
        function toEdit(){
            var c = $("[name='id[]']:checked");
            if(c.length != 1){
                alert("请选择一条记录进行修改！");
            }else(
                window.location.href = "{:U('safe_resource_edit',I('get.'))}" + '?id=' + c.val()
            )
        }
        
        function toDel(){
            var c = $("[name='id[]']:checked");
            if(c.length < 1){
                alert("请选择一条或多条记录进行删除！");
            }else{
                if(confirm("你确定要删除选中的记录吗？")){
                    $('form').submit();
                }
            }
        }
    //]]>
</script>
</block>

<block name="btnbar">
<div class="edit_menu_b">
  <ul>
      <if condition="has_all_rules('school_add')">
    	<li><a href="{:U('safe_resource_add')}"><img src="/Public/images/master_26.jpg" width="68" height="28" alt=""/></a></li>
      </if>
      <if condition="has_all_rules('school_edit')">
        <li><a href="#" onClick="toEdit()"><img src="/Public/images/master_28.jpg" width="68" height="28" alt=""/></a></li>
      </if>
      <if condition="has_all_rules('school_del')">
        <li><a href="#" onClick="toDel()"><img src="/Public/images/master_30.jpg" width="68" height="28" alt=""/></a></li>
      </if>
  </ul>
</div>
<div style="clear:both"></div>
</block>
<div class="search_bar_b">
<label>&nbsp;&nbsp;搜索&nbsp;&nbsp;</label>
<input type="text">
</div>
</block>
<block name="pathline">
<div class="div_path_content">系统设置 ->安全资源中心</div>
</block>
<block name="content">
<div class="show_content_b">
<br>
<p style="text-align:center"><strong>安全资源列表</strong></p>
<form action="{:U('safe_resource_delete_handle',I('get.'))}" id="form1" name="form1" method="post">
<table width="98%" border="0" cellspacing="0" cellpadding="0" class="list_table">
    <thead>
        <tr>
            <td align="center" class="first_td"><strong>标题</strong></td>
            <td align="center">知识分类</td>
            <td align="center">年级分类</td>
            <td align="center">配图</td>
            <td align="center"><strong>时间</strong></td>
            <td align="center">&nbsp;</td>
        </tr>
    </thead>
    <foreach name="web_safe_resource" item="v" >
      <tr class="odd_tr">
            <td align="center" class="first_td">{$v.title}</td>
            <td align="center">{$v.knowledge_category}&nbsp;</td>
            <td align="center">{$v.grade_category}&nbsp;</td>
            <td align="center"><a href="{$v.img_path}"><img src="{$v.img_path}" height="100" alt="" align="absbottom"/></a></td>
            <td align="center">{$v.date_time}&nbsp;</td>
            <td align="center"><input type="checkbox" name="id[]" id="checkbox" value="{$v.id}">&nbsp;</td>
        </tr>
     </foreach>
</table>
</form>
{$page}
<br>
  <br>
</div>
</block>
