<extend name="Public:base" />
<block name="extCSS">
    <link href="/Public/css/style.css" rel="stylesheet" type="text/css">
</block>
<block name="extJS">
<script type="text/javascript" language="JavaScript">
    //<![CDATA[
        function toGetCourse(){
          var class_id = $("#class_id").val();

          if(!class_id){
            var html = '<option value=""></option>';
            $("#course_id").html(html);
          }else{
            var params = {
              "class_id" : class_id,
              "t" : $.now()
            };
            var url = "{:U('Statistic/ajaxGetCourse')}";
            $.getJSON(url,params,function(r){
              var html = '<option value=""></option>';  
              if(r.flag != 0 ){
                  $("#course_id").html();
                  alert(r.msg);
              }else{
                  for(var i=0;i<r.data.length;i++){
                    html += '<option value="'+ r.data[i]['id'] + '">' + r.data[i]['name'] + '</option>';
                  }
              }
              $("#course_id").html(html);
            });

          }
        }


        function toSubmit(){
          var class_id = $("#class_id").val();
          var course_id = $("#course_id").val();

          if(!class_id || !course_id){
            alert("请选择班级以及课程！");
          }else{
            $("#srhfrm").submit();
          }
        }
          
    //]]>
</script>
</block>

<block name="btnbar">
<div class="edit_menu_b">
  <ul>
     <li><img src="/Public/images/master_32.jpg" width="68" height="28" alt=""/></li>
  </ul>
</div>
<div style="clear:both"></div>
</block>

 <block name="searchbar">
<div class="search_bar_b">
<form action="{:U('Statistic/Index')}" id="srhfrm" method="POST">
 
  &nbsp;&nbsp;&nbsp;班级&nbsp;:&nbsp;
  <select name="class_id" id="class_id" onchange="toGetCourse()">
    <option value=""></option>
    <foreach name="classes" item="c" >
      <if condition="$c['id'] eq $class_id ">
        <option value="{$c['id']}" selected="selected">{$c['name']}</option>
      <else />
        <option value="{$c['id']}">{$c['name']}</option>
      </if>
    </foreach>
  </select>
  &nbsp;&nbsp;课程&nbsp;:&nbsp;
  <select name="course_id" id="course_id">
    <option value=""></option>
    <foreach name="courses" item="c" >
      <if condition="$c['id'] eq $course_id ">
        <option value="{$c['id']}" selected="selected">{$c['name']}</option>
      <else />
        <option value="{$c['id']}">{$c['name']}</option>
      </if>
    </foreach>

  </select>
  &nbsp;&nbsp;<input type="button" value="搜索" onclick="toSubmit()">
  
</form>
</div>
</block> 
<block name="content">
<div class="show_content_b">
<br>
<p style="text-align:center"><strong>数据统计</strong></p>

<table width="98%" border="0" cellspacing="0" cellpadding="0" class="list_table">
  <thead>
    <tr>
      <td align="center" class="first_td">年级班级</td>
      <td align="center">学生账号</td>
      <td align="center">学生姓名</td>
      <td align="center">测试次数</td>
      <td align="center">测试最高得分</td>
      <td align="center">&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    <foreach name="result" item="v" >
      <tr class="odd_tr">
        <td align="center" class="first_td">{$v['class_name']}</td>
        <td align="center">{$v['system_no']}</td>
        <td align="center">{$v['user_name']}</td>
        <td align="center">{$v['times']}</td>
        <td align="center">{$v['score']}</td>
        <td align="center"><input name="id[]" value="{$v['user_id']}" type="checkbox"></td>
      </tr>
    </foreach>
  </tbody>
</table>
</div>
</block>
