<extend name="Public:base" />
<block name="extCSS">
    <link href="/Public/css/style.css" rel="stylesheet" type="text/css">
</block>
<block name="extJS">
<script type="text/javascript" language="JavaScript">
    //<![CDATA[
        function toEdit(){
            var c = $("[name='id[]']:checked");
            if(c.length != 1){
                alert("请选择一条记录进行修改！");
            }else(
                window.location.href = "/index.php/Admin/master/course_edit" + '?id=' + c.val()
            )
        }
        
        function toDel(){
            var c = $("[name='id[]']:checked");
            if(c.length < 1){
                alert("请选择一条或多条记录进行删除！");
            }else{
                if(confirm("你确定要删除选中的课程吗？")){
                    $('form').submit();
                }
            }
        }
    //]]>
</script>
</block>

<block name="btnbar">
<div class="edit_menu_b">
  <ul>
     <li><img src="/Public/images/master_32.jpg" width="68" height="28" alt=""/></li>
  </ul>
</div>
<div style="clear:both"></div>
</block>
<block name="searchbar">
<div class="search_bar_b">
<label>&nbsp;&nbsp;搜索&nbsp;&nbsp;</label>
<input type="text">
</div>
</block>
<block name="pathline">
<div class="div_path_content">数据统计</div>
</block>
<block name="content">
<div class="show_content_b">
<br>
<p style="text-align:center"><strong>数据统计</strong></p>
<form action="{:U('master/course_list_delete_handle')}" id="form1" name="form1" method="post">
<table width="98%" border="0" cellspacing="0" cellpadding="0" class="list_table">
    <thead>
        <tr>
            <td align="center" class="first_td">学校名称</td>
            <td align="center">学校参与人数</td>
            <td align="center">教学计划完成百分比</td>
            <td align="center">参与评测人数</td>
            <td align="center">测试平均分</td>
            <td align="center">&nbsp;</td>
        </tr>
    </thead>
    <foreach name="school_data" item="v" >
      <tr class="odd_tr">
            <td align="center" class="first_td">{$v.school_name}</td>
            <td align="center">{$v.student_total}</td>
            <td align="center"></td>
            <td align="center">{$v.student_involve}</td>
            <td align="center">{$v.student_average}</td>
            <td align="center"><input type="checkbox" name="id[]" id="checkbox" value="{$v.id}">&nbsp;</td>
        </tr>
     </foreach>
</table>

</form>
{$page}
<br>
  <br>
</div>
</block>
