<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>安贝尔儿童安全乐园教学管理平台</title>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
</head>
<script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/js/province_city_area.js"></script>
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	$(document).ready(function(){
	    init();
    });        
//]]>
</script>
<body>
<div class="top_logo_b">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="685"><img src="__PUBLIC__/images/master_03.jpg" width="685" height="130" alt=""/></td>
      <td align="right" valign="bottom"><a href="../../Admin/Auth/logout">退出管理</a></td>
    </tr>
  </table>
</div>
<div class="main_menu_b">
	<ul>
    	<li><a href="../../Admin/Index/index.html"><img src="__PUBLIC__/images/master_07.jpg" width="92" height="28" alt=""/></a></li>
        <li><a href="../../Admin/Index/account_manage.html"><img src="__PUBLIC__/images/master_09.jpg" width="92" height="28" alt=""/></a></li>
        <li><img src="__PUBLIC__/images/master_11.jpg" width="92" height="28" alt=""/></li>
        <li><img src="__PUBLIC__/images/master_13.jpg" width="92" height="28" alt=""/></li>
        <li><img src="__PUBLIC__/images/master_15.jpg" width="92" height="28" alt=""/></li>
        <li><a href="../../Admin/Index/master.html"><img src="__PUBLIC__/images/master_17.jpg" width="92" height="28" alt=""/></a></li>
    </ul>
</div>
<div style="clear:both"></div>
<div class="edit_menu_b">
  <ul>
    	<li><img src="__PUBLIC__/images/master_26.jpg" width="68" height="28" alt=""/></li>
        <li><img src="__PUBLIC__/images/master_28.jpg" width="68" height="28" alt=""/></li>
        <li><img src="__PUBLIC__/images/master_30.jpg" width="68" height="28" alt=""/></li>
        <li><img src="__PUBLIC__/images/master_32.jpg" width="68" height="28" alt=""/></li>
        <li><img src="__PUBLIC__/images/master_34.jpg" width="68" height="28" alt=""/></li>
    </ul>
</div>
<div style="clear:both"></div>
<div class="search_bar_b">
<label>&nbsp;&nbsp;搜索&nbsp;&nbsp;</label>
    <select id="select_province"></select>
    <select id="select_city"></select>
    <select id="select_area"></select>
</div>

<div class="show_content_b"><br>
  <br>
  <br>
  <br>
  <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center"><img src="__PUBLIC__/images/master_42.jpg" width="170" height="200" alt=""/></td>
      <td align="center"><img src="__PUBLIC__/images/master_44.jpg" width="170" height="200" alt=""/></td>
    </tr>
  </table>
</div>
<div class="foot_company">&nbsp;<img src="__PUBLIC__/images/index_26.jpg" width="185" height="49" alt=""/></div>
</body>
</html>
