<extend name="Public:base" />
<block name="extCSS">
    <link href="/Public/css/style.css" rel="stylesheet" type="text/css">
</block>
<block name="extJS">
    <script src="/Public/js/select_ssq.js"></script>
     <script language="JavaScript" type="text/javascript">
        //<![CDATA[ 
        
        function toDel(obj){
            var t = $(obj);
            $(t.parents("p")[0]).remove();
        }
        
        var opts = '<option value=""></option>';
        
        <foreach name="school_classes" item="sc" >
            opts += '<option value="{$sc.id}">{$sc.name}</option>';
        </foreach>
        
        
        function toAdd(){
            var html = '<p><select name="class_id[]">' + opts + '</select>&nbsp;<input type="button" value="删除" onclick="toDel(this)"/></p>';
            $("#classtd").append(html);
        }
        
        function toSubmit(){
            var msg = [];
            if(!$("#name").val()){ msg.push("请填写用户的名称"); }
            
            <if condition="$role eq 'T'">
                var clzok = false;
                var clzdup = false;
                var clzids = [];
                $("[name='class_id[]']").each(function(){
                    var t = $(this);
                    if(t.val()){ 
                        clzok = true; 
                        if(clzids.indexOf(t.val()) > -1){
                            clzdup = true;
                        }else{
                            clzids.push(t.val());
                        }
                    }
                });
                if(!clzok){ msg.push("请选择老师的班级！"); }
                if(clzdup){ msg.push("选择的班级有重复，请重新选择！");}
            </if>
            
            if(msg.length > 0){
                var s = "";
                for(var i=0;i<msg.length;i++){
                    s += msg[i] + '\n';
                }
                alert(s);
                return;
            }else{
                $("form").submit();
            }
        }
        
        //]]>
     </script>

</block>

<block name="content">
    <div class="show_content_b"><br>
		<p style="text-align:center"><strong>账号修改</strong></p>
        <form action="{:U('AccountManagement/edit_handle',I('get.'))}" id="form1" name="form1" method="post">
          <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
              
              <if condition="$role eq 'T'">
                  <tr>
                      <td height="50" align="right">地区：</td>
                      <td>&nbsp;</td>
                      <td>{$location.full_name}</td>
                </tr>
                <tr>
                      <td height="50" align="right">学校：</td>
                      <td>&nbsp;</td>
                      <td>{$school.name}</td>
                </tr>
                <tr>
                      <td height="50" align="right" valign="top">班级：</td>
                      <td>&nbsp;</td>
                      <td valign="top" id="classtd">
                          <foreach name="user_classes" item="uc" >
                              <p>
                                  <select name="class_id[]">
                                      <option value=""></option>
                                      <foreach name="school_classes" item="sc" >
                                          <if condition="$sc.id eq $uc.id ">
                                              <option value="{$sc['id']}" selected="selected">{$sc['name']}</option>
                                          <else />
                                              <option value="{$sc['id']}">{$sc['name']}</option>
                                          </if>
                                      </foreach>
                                  </select>
                                  &nbsp;
                                  <input type="button" value="删除" onclick="toDel(this)"/>
                              </p>
                          </foreach>
                          <p>
                              <select name="class_id[]">
                                  <option value=""></option>
                                  <foreach name="school_classes" item="sc" >
                                      <option value="{$sc['id']}">{$sc['name']}</option>
                                  </foreach>
                              </select>
                              &nbsp;
                              <input type="button" value="添加" onclick="toAdd()"/>
                          </p>
                      </td>
                </tr>
             <elseif condition="$role eq 'S'"/>
                <tr>
                      <td height="50" align="right">地区：</td>
                      <td>&nbsp;</td>
                      <td>{$location.full_name}</td>
                </tr>
                <tr>
                      <td height="50" align="right">学校：</td>
                      <td>&nbsp;</td>
                      <td>{$school.name}</td>
                </tr>
                <tr>
                      <td height="50" align="right">班级：</td>
                      <td>&nbsp;</td>
                      <td>{$class.name}</td>
                </tr>
             </if>
                <tr>
                  <td width="100" height="50" align="right">姓名：</td>
                   <td width="10">&nbsp;</td>
                   <td><input type="text" name="name" id="name" value="{$user.name}"/>
                   <input name="id" type="text" id="textfield2" size="30" value="{$user.id}" style="display:none"></td>
                   <td>&nbsp;</td>
                </tr>
                <tr>
                  <td height="50" align="right">性别：</td>
                  <td>&nbsp;</td>
                  <td>
                      <select name="gender">
                          <option value=""></option>
                          <eq name="user['gender']" value="男">
                              <option value="男" selected="selected">男</option>
                          <else/>
                              <option value="男">男</option>
                          </eq>
                          <eq name="user['gender']" value="女">
                              <option value="女" selected="selected">女</option>
                          <else/>
                              <option value="女">女</option>
                          </eq>
                      </select>
                  </td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                   <td height="50" align="right">&nbsp;</td>
                   <td>&nbsp;</td>
                   <td>
                       <span class="send_btn" onclick="toSubmit()">提交</span>
                       <span class="send_btn" id="reset_btn">重置</span> 
                   </td>
                   <td></td>
                </tr>
          </table>
      </form>
    </div>
</block>