<extend name="Public:base" />
<block name="extCSS">
    <link href="/Public/css/style.css" rel="stylesheet" type="text/css">
</block>
<block name="extJS">
    
    <script src="/Public/js/select_ssq.js"></script>
    <script language="JavaScript" type="text/javascript">
    //<![CDATA[
        function toEdit(){
            var cs = $("input[name='id[]']:checked");
            if(cs.length != 1){
                alert("请只选择一条记录进行修改！");
            }else{
                window.location.href = "{:U('AccountManagement/edit',I('get.'))}" + '?id=' + cs.val(); 
            }
        }
        
        function toView(){
            var cs = $("input[name='id[]']:checked");
            if(cs.length != 1){
                alert("请只选择一条记录进行查看！");
            }else{
                window.location.href = "{:U('Plan/view')}" + '?id=' + cs.val(); 
            }
        }
        
        function toShow(){
            $("#search").attr('action',"{:U('AccountManagement/index')}");
            $("#search").submit();
        }    
         
         
        function toDel(){
        	var cs = $("input[name='id[]']:checked");
            if(cs.length < 1){
                alert("请只选择一条或多条记录进行删除！");
            }else{
            	if(confirm("你确定要删除选中的账号吗？些操作不可逆！")){
	                $('#dataform').submit();
            	}
            }
        }
		
		function pwEdit(){
            var cs = $("input[name='id[]']:checked");
            if(cs.length != 1){
                alert("请只选择一条记录进行重置！");
            }else{
                window.location.href = "{:U('pw_edit')}" + '?id=' + cs.val(); 
            }
        }
		
		function toSearch(){
        	$("form[name='search']").submit();
        }       
    //]]>
   </script>
</block>

<block name="btnbar">
    <div class="edit_menu_b">
      <ul>
            <li><a href="{:U('AccountManagement/add')}"><img src="/Public/images/master_26.jpg" width="68" height="28" alt=""/></a></li>
            <li><a href="#" onclick="toEdit()"><img src="/Public/images/master_28.jpg" width="68" height="28" alt=""/></a></li>
            <li><a href="#" onclick="toDel()"><img src="/Public/images/master_30.jpg" width="68" height="28" alt=""/></a></li>
            <if condition="has_all_rules('account_view_all')">
                <li><a href="{:U('AccountManagement/imp')}"><img src="/Public/images/master_34.jpg" width="68" height="28" alt=""/></a></li>
                <li><a href="{:U('AccountManagement/export',I('get.'))}"><img src="/Public/images/master_32.jpg" width="68" height="28" alt=""/></a></li>
            </if>
            <li><a href="#" onclick="pwEdit()"><img src="/Public/images/default_12.jpg" width="95" height="28" alt=""/></a></li>
        </ul>
    </div>
    <div style="clear:both"></div>
</block>

<block name="searchbar">
<div class="search_bar_b">
	<form action="{:U('AccountManagement/index')}" id="search" name="search" method="get">
    <label>&nbsp;&nbsp;搜索&nbsp;&nbsp;</label>
    <if condition="has_all_rules('account_view_all')">
        
            
            <select id="lev1" name="location_code_sheng" onchange="getlocationchildren(this,'#lev2')">
            <option value="">请选择</option>
            <foreach name="locations" item="l" >
            <option value="{$l.code}">{$l.name}</option>
            </foreach>
            </select>
            <select id="lev2" name="location_code_shi" onchange="getlocationchildren(this,'#lev3')">
            </select>
            <select id="lev3" name="location_code_qu" onchange="getlocationchildren(this,'','#school_id')">
            </select>
            <select id="school_id" name="school_id" onchange="get_class_by_school(this,'#class_id')">
            </select>
            <select id="class_id" name="class_id">
            </select>
            <input name="keyword" type="text" id="keyword"/>
            <span class="send_btn" onClick="toSearch();">搜索</span>
    <else />
            <select name="class_id">
                <option value=""></option>
                <foreach name="classes" item="c">
                    <if condition="$c.id eq $class_id">
                        <option value="{$c['id']}" selected="selected">{$c['name']}</option>
                    <else />
                        <option value="{$c['id']}">{$c['name']}</option>
                    </if>
                </foreach>
            </select>
            <span class="send_btn" onClick="toSearch();">搜索</span>
    </if>
     </form>
</div>
</block>   
<block name="content">
    <div class="show_content_b">
    <br>
	<p style="text-align:center"><strong>账号列表</strong></p>
    <form action="{:U('AccountManagement/del',I('get.'))}" id="dataform" name="dataform" method="post">        
    <table width="98%" border="0" cellspacing="0" cellpadding="0" class="list_table">
        <thead>
            <tr>
                <td align="center" class="first_td"><strong>帐号名</strong></td>
                <td align="center"><strong>姓名</strong></td>
                <td align="center"><strong>性别</strong></td>
                <td align="center">地区</td>
                <td align="center"><strong>所在学校</strong></td>
                <td align="center">所在班级</td>
                <td align="center"><strong>用户类型</strong></td>
                <td align="center">操作人</td>
                <td align="center"><strong>上次登录时间</strong></td>
                <td align="center">&nbsp;</td>
            </tr>
        </thead>
        <foreach name="auth_user" item="v" >
          <tr class="odd_tr">
                <td align="center" class="first_td">{$v.system_no}&nbsp;</td>
                <td align="center">{$v.user_name}&nbsp;</td>
                <td align="center">{$v.gender}&nbsp;</td>
                <td align="center">{$v.location_full_name}&nbsp;</td>
                <td align="center">{$v.school_name}&nbsp;</td>
                <td align="center">{$v.class_names}&nbsp;</td>
                <td align="center">{$v.role}</td>
                <td align="center">{$v.update_by_id|show_edit_user}&nbsp;</td>                
                <td align="center">{$v.last_login_time}&nbsp;</td>
                <td align="center"><input id="checkbox" type="checkbox" name="id[]" value="{$v.id}">&nbsp;</td>
            </tr>
         </foreach>
    </table>
    </form>
    {$page}
    </div>
    
</block>