<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="utf-8">
<title>安贝尔儿童安全乐园</title>
<link href="/anbels/Home/Public/css/style.css" rel="stylesheet" type="text/css">
<script src="/anbels/Home/Public/js/jquery-1.11.1.min.js"></script>
<script src="/anbels/Home/Public/js/common_home.js"></script>
<script language="javascript">

</script>
</head>

<body>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="632"><img src="/anbels/Home/Public/images/home_02.jpg" width="632" height="102"/></td>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
<table width="100" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="109" align="left" valign="top"><img src="/anbels/Home/Public/images/home_05.jpg" width="109" height="76"/></td>
    <td width="106"><a href="{:U('index/index')}"><img src="/anbels/Home/Public/images/home_06.jpg" width="106" height="76" alt=""/></a></td>
    <td width="129"><a href="{:U('news/index')}" target="_blank"><img src="/anbels/Home/Public/images/home_07.jpg" width="129" height="76" alt=""/></a></td>
    <td width="129"><a href="{:U('news/policy_info')}" target="_blank"><img src="/anbels/Home/Public/images/home_08.jpg" width="129" height="76" alt=""/></a></td>
    <td width="132"><a href="{:U('aboutus/index')}" target="_blank"><img src="/anbels/Home/Public/images/home_09.jpg" width="132" height="76" alt=""/></a></td>
    <td width="150"><a href="{:U('saferesource/index')}"><img src="/anbels/Home/Public/images/home_10.jpg" width="150" height="76" alt=""/></a></td>
    <td width="126"><a href="{:U('safesubject/index')}"><img src="/anbels/Home/Public/images/home_11.jpg" width="126" height="76" alt=""/></a></td>
    <td><img src="/anbels/Home/Public/images/home_12.jpg" width="119" height="76" alt=""/></td>
  </tr>
</table>
<div class="main_content">
  <div class="sub_content_subject">
    <foreach name="all_data" item="v" >
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="saferesource_s_title">安全专题·{$v.name}</td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td class="saferesource_s_title" style="color:#ffde06">---------------------------------------------------------------------------------------------------------------------</td>
        </tr>
        <tr>
          <td><img src="{$v.img_path}" width="940" alt=""/></td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>{$v.desc}</td>
              <td width="200"><a href="{:U('safe_subject_page')}?id={$v.id}"><img src="/anbels/Home/Public/images/btn_subject.jpg" width="200" height="50" alt=""/></a></td>
            </tr>
          </table></td>
        </tr>
      </table>
      <br>
      <br>
    </foreach>
  </div>
</div>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="50" align="center"><a href="{:U('Admin/Auth/login')}">管理入口</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('aboutus/contactus')}">联系我们</a></td>
  </tr>
  <tr>
    <td align="center">
    	<img src="/anbels/Home/Public/images/home_26.jpg" width="187" height="44" alt=""/><br>
		<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" class="a_wt">粤ICP备14057194</a>
    </td>
  </tr>
</table>
</body>
</html>
