<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="utf-8">
<title>安贝尔儿童安全乐园</title>
<link href="/anbels/Home/Public/css/style.css" rel="stylesheet" type="text/css">
<script src="/anbels/Home/Public/js/jquery-1.11.1.min.js"></script>
<script src="/anbels/Home/Public/js/common_home.js"></script>
<script language="javascript">

</script>
</head>

<body>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="632"><img src="/anbels/Home/Public/images/home_02.jpg" width="632" height="102"/></td>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
<table width="100" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="109" align="left" valign="top"><img src="/anbels/Home/Public/images/home_05.jpg" width="109" height="76"/></td>
    <td width="106"><a href="{:U('index/index')}"><img src="/anbels/Home/Public/images/home_06.jpg" width="106" height="76" alt=""/></a></td>
    <td width="129"><a href="{:U('news/index')}" target="_blank"><img src="/anbels/Home/Public/images/home_07.jpg" width="129" height="76" alt=""/></a></td>
    <td width="129"><a href="{:U('news/policy_info')}" target="_blank"><img src="/anbels/Home/Public/images/home_08.jpg" width="129" height="76" alt=""/></a></td>
    <td width="132"><a href="{:U('aboutus/index')}" target="_blank"><img src="/anbels/Home/Public/images/home_09.jpg" width="132" height="76" alt=""/></a></td>
    <td width="150"><a href="{:U('saferesource/index')}"><img src="/anbels/Home/Public/images/home_10.jpg" width="150" height="76" alt=""/></a></td>
    <td width="126"><img src="/anbels/Home/Public/images/home_11.jpg" width="126" height="76" alt=""/></td>
    <td><img src="/anbels/Home/Public/images/home_12.jpg" width="119" height="76" alt=""/></td>
  </tr>
</table>
<div class="main_content">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="183" valign="top">
      <div class="left_navi_menu">
          <ul>
          <li><a href="{:U('index')}"><img src="/anbels/Home/Public/images/safe_resource_031.jpg" width="160" height="41" alt=""/></a></li>
          <foreach name="web_knowledge_category" item="v" >
          <li style="width: 105px; height: 19px; background: url(/anbels/Home/Public/images/safe_resource_08.jpg); padding: 10px 5px 5px 50px; margin: 0px 0px 0px 10px; text-align: left;"><a href="{:U('knowledge_category_page')}?id={$v.id}" class="class_menu">{$v.name}</a></li>
          </foreach>
          </ul>
      </div>
      <br>
      <div class="left_navi_menu">
        <ul>
          <li><a href="{:U('index')}"><img src="/anbels/Home/Public/images/safe_resource_032.jpg" width="160" height="41" alt=""/></a></li>
          <!--<li><a href="{:U('anbels_info')}"><img src="/anbels/Home/Public/images/news_08.jpg" width="160" height="34" alt=""/></a></li>-->
          <li style="width: 105px; height: 19px; background: url(/anbels/Home/Public/images/safe_resource_08.jpg); padding: 10px 5px 5px 50px; margin: 0px 0px 0px 10px; text-align: left;"><a href="#" class="class_menu">一年级</a></li>
          <li style="width: 105px; height: 19px; background: url(/anbels/Home/Public/images/safe_resource_08.jpg); padding: 10px 5px 5px 50px; margin: 0px 0px 0px 10px; text-align: left;"><a href="#" class="class_menu">二年级</a></li>
          <li style="width: 105px; height: 19px; background: url(/anbels/Home/Public/images/safe_resource_08.jpg); padding: 10px 5px 5px 50px; margin: 0px 0px 0px 10px; text-align: left;"><a href="#" class="class_menu">三年级</a></li>
          <li style="width: 105px; height: 19px; background: url(/anbels/Home/Public/images/safe_resource_08.jpg); padding: 10px 5px 5px 50px; margin: 0px 0px 0px 10px; text-align: left;"><a href="#" class="class_menu">四年级</a></li>
          <li style="width: 105px; height: 19px; background: url(/anbels/Home/Public/images/safe_resource_08.jpg); padding: 10px 5px 5px 50px; margin: 0px 0px 0px 10px; text-align: left;"><a href="#" class="class_menu">五年级</a></li>
          <li style="width: 105px; height: 19px; background: url(/anbels/Home/Public/images/safe_resource_08.jpg); padding: 10px 5px 5px 50px; margin: 0px 0px 0px 10px; text-align: left;"><a href="#" class="class_menu">六年级</a></li>
          <li style="width: 105px; height: 19px; background: url(/anbels/Home/Public/images/safe_resource_08.jpg); padding: 10px 5px 5px 50px; margin: 0px 0px 0px 10px; text-align: left;"><a href="#" class="class_menu">初一</a></li>
          <li style="width: 105px; height: 19px; background: url(/anbels/Home/Public/images/safe_resource_08.jpg); padding: 10px 5px 5px 50px; margin: 0px 0px 0px 10px; text-align: left;"><a href="#" class="class_menu">初二</a></li>
          <li style="width: 105px; height: 19px; background: url(/anbels/Home/Public/images/safe_resource_08.jpg); padding: 10px 5px 5px 50px; margin: 0px 0px 0px 10px; text-align: left;"><a href="#" class="class_menu">初三</a></li>
        </ul>
      </div>
      </td>
      <td width="20">&nbsp;</td>
      <td valign="top">
      <div class="sub_content">
      <p class="title">·安全资源中心</p>
      <hr style="border:#ffde06 3px solid">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>热门知识</td>
  </tr>
  <tr>
    <td>---------------------------------------------------------------------------------------------------</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
      <foreach name="web_safe_resource" item="v" >
        <td width="33%" align="center"><a href="{:U('saferesource_page')}?id={$v.id}"><img src="{$v.img_path}" height="120" alt=""/></a></td>
      </foreach>

      </tr>
    </table></td>
  </tr>
</table>
      <br>
      <br>
      
      <foreach name="all_data" item="v" >
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>{$v.name}</td>
                  <td width="100">更多</td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td>---------------------------------------------------------------------------------------------------</td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  
                    <td width="250" align="center"><img src="{$v.img_path}" height="120" alt=""/></td>
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <foreach name="v.data_info" item="d" >
                          <tr>
                            <td height="30"><a href="{:U('saferesource_page')}?id={$d.id}" class="news_link">{$d.title}</a></td>
                          </tr>
                        </foreach> 
                    </table></td>
                  
                </tr>
              </table></td>
            </tr>
        </table>
        <br>
		<br>
	</foreach>
      </div>
      </td>
      <td width="50">&nbsp;</td>
    </tr>
  </table>
</div>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="50" align="center"><a href="{:U('Admin/Auth/login')}">管理入口</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('aboutus/contactus')}">联系我们</a></td>
  </tr>
  <tr>
    <td align="center">
    	<img src="/anbels/Home/Public/images/home_26.jpg" width="187" height="44" alt=""/><br>
		<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" class="a_wt">粤ICP备14057194</a>
    </td>
  </tr>
</table>
</body>
</html>
